.image-circle {
  border-radius: 50%; 
  width: 120px;
}

header  {
  background-image: url("images/home/header-image-city.jpg");
  height: 50%; 
}

hr {
  width: 15px;
  height: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
  background: black;
  transform: rotate(45deg);
}

main {
  background-image: url("images/american-flag.jpg");
  height:50%;
}


h1 a{
  color: #ffc300;
  font-family: futura, serif;
}

header h1 {
  text-align: center;
  color: #fff;
  font-family: Futura;
  font-size: 68px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 30px;
  text-shadow: 0px 0px 12px #39ff14 ;
}

nav {
  float: right;
  margin: 52px 20px 0 0;

}

nav a {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

nav a:hover {
  color: #ab381c;
}

nav a:last-of-type {
  margin-right: 20px;
}

main h2 {
  text-align: center;
  margin: 20px;
  color: #bbb7b5
}
main p {
  color: white;
  padding-left: 5px;
}

.full-image {
	position: relative;
	min-width: 980px;
}

.full-image img {
	display: block;
	width: 100%;
	border: 1px #b4b4b4 solid;
}
ul, ol {
  color: white;
}


footer {
  
  background-image: url("images/american flag.webp");
  height: 100
}

footer h3 {
  text-align: center;
  color: #ffc300;
  font-size: 50px;
  font-family: future, serif;
}

a {
  font-family: arial;
  text-decoration: underline;
  color: green;
  margin: top 0;
  font-size: 20px;  
}

p a:hover { color: red;}

